@charset "UTF-8";

/*초기화*/

body {font-family:; background:; font-size:; background:#090810;}


.hidden {display:none;}


header {}
header h1 {}
#content {width:1080px; height:1000px;}

    #m_gnb{display:none;}

    .name {position:absolute; left:50%; transform:translateX(-50%); margin-top:10px; z-index:100;}
    .name img {}

    .photo {position:absolute; margin-top:55px; left:50%; transform:translateX(-50%) }
    .photo .pc_img {position:relative;}
    .photo .m_img {display:none;}


    .menu {}
        .menu_mobile {}
            .menu_mobile a {}
            .menu_mobile a img {position:absolute; top:250px; left:-15%;}
        .menu_uxui {}
            .menu_uxui a {}
            .menu_uxui a img {position:absolute; top:710px; left:-27%;}
        .menu_profile {} 
            .menu_profile a {}
            .menu_profile a img {position:absolute; top:810px; left:-27%;}
        .menu_bootS {}
            .menu_bootS a {}
            .menu_bootS a img {position:absolute; top:120px; right:-16%;}



/*footer*/

footer {position:relative;}
footer .copy {margin-bottom:100px; text-align:center;}
footer .copy p {font-size:13px; color:#bbb; letter-spacing:2px;}





/*화면 너비가 769px보다 작을 때*/
@media (max-width:768px){


    body {background:#fff;}
    #content {width:100%; height:1000px;}

    #m_gnb { display:block; font-family: 'Noto Sans KR', sans-serif; font-weight:bold;}
    #m_gnb .m_content .m_menu > img {width:150px;}
    #m_gnb .m_content .m_toggle .m_icon {width:25px;}

    .name img {display:none;}
    .photo .pc_img{display:none; }
    .photo .m_img  {display:block; width:500px;}



    .menu {display:none;}

    footer .copy {margin-bottom:50px; text-align:center;}
    footer .copy p {color:#000;}
}




